<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd"
        default-autowire="byName">

    <!--数据源-->
    <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf-8"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property name="password" value="111111"/>
        <property name="maxActive" value="50"/>
        <property name="maxPoolPreparedStatementPerConnectionSize" value="100"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/showLogin"/>
            <mvc:exclude-mapping path="/showpass"/>
            <mvc:exclude-mapping path="/selectpass"/>
            <mvc:exclude-mapping path="/rpassword"/>
            <mvc:exclude-mapping path="/spassword"/>
            <mvc:exclude-mapping path=".css"/>
            <mvc:exclude-mapping path=".js"/>
            <mvc:exclude-mapping path=".js"/>
            <mvc:exclude-mapping path=".css"/>
            <mvc:exclude-mapping path=".img"/>
            <bean class="util.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>


    <!--会话工厂-->
    <bean name="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="mapperLocations" value="classpath:xml/*.xml" />
        <property name="typeAliasesPackage" value="entity" />
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
    </bean>

    <!--声明式事务-->
    <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" />
    <tx:advice id="txAdvice" >
        <tx:attributes>
            <tx:method name="add*"/>
            <tx:method name="update*"/>
            <tx:method name="delete*"/>
            <tx:method name="select*" read-only="true" propagation="NOT_SUPPORTED"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* biz..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut" />
    </aop:config>

    <!--把DAO接口扫描进来-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="dao" />
        <property name="sqlSessionFactoryBeanName" value="sessionFactory" />
    </bean>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>


    <!--静态资源访问放过-->
    <mvc:resources mapping="/css/**" location="/WEB-INF/assets/css/" />
    <mvc:resources mapping="/font-awesome/**" location="/WEB-INF/assets/font-awesome/" />
    <mvc:resources mapping="/fonts/**" location="/WEB-INF/assets/fonts/" />
    <mvc:resources mapping="/img/**" location="/WEB-INF/assets/img/" />
    <mvc:resources mapping="/js/**" location="/WEB-INF/assets/js/" />
    <mvc:resources mapping="/My97DatePicker/**" location="/WEB-INF/assets/My97DatePicker/" />
    <mvc:view-controller path="/" view-name="redirect:/showLogin"/>


    <context:component-scan base-package="controller,biz,dao" />
    <mvc:annotation-driven/>
</beans>
